<h3 class="jem-section-title">Habilidades de Classe</h3>

<table class="aptidoes-table jem-items-table" data-aptidao-tipo="habilidade">
  <thead>
    <tr class="items-header jem-item-row" aria-hidden="true">
      <th class="jem-item-col jem-item-col--photo">Foto</th>
      <th class="jem-item-col jem-item-col--name">Nome</th>
      <th class="jem-item-col jem-item-col--pe">PE</th>
      <th class="jem-item-col jem-item-col--acao">Ação</th>
      <th class="jem-item-col jem-item-col--remove">Remover</th>
      <th class="item-controls"></th>
    </tr>
  </thead>
  <tbody>
    {{#if habilidades.length}}
      {{#each habilidades as |item|}}
        <tr class="item-row" data-item-id="{{item._id}}">
          <td class="jem-item-col jem-item-col--photo"><img class="item-image" src="{{item.img}}" title="{{item.name}}" width="36" height="36"/></td>
          <td class="jem-item-col jem-item-col--name"><button type="button" class="jem-item-name item-use" data-action="use-aptidao">{{item.name}}</button></td>
          <td class="jem-item-col jem-item-col--pe">{{item.system.custo.value}} PE</td>
          <td class="jem-item-col jem-item-col--acao">{{item.system.acao.value}}</td>
          <td class="jem-item-col jem-item-col--remove"><button type="button" class="item-delete" title="Remover" aria-label="Remover"><i class="fas fa-trash"></i></button></td>
          <td class="item-controls flexrow jem-item-controls">
            <button type="button" class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></button>
          </td>
        </tr>
      {{/each}}
    {{else}}
      <tr class="jem-empty"><td colspan="6">Arraste uma Habilidade de Classe do Compendium para cá.</td></tr>
    {{/if}}
  </tbody>
</table>