<div class="atributos-grid grid grid-3col">
    {{#each system.atributos as |atributo key|}}
    <div class="atributo-card flexcol flex-group-center">
        <label class="resource-label">{{atributo.label}}</label>
        
        <span class="atributo-mod" title="Modificador">
            {{numberFormat atributo.mod decimals=0 sign=true}}
        </span>

        <div class="atributo-base flexrow flex-group-center">
            <span class="small-label">Valor:</span>
                        {{#if (eq ../actor.type "inimigo")}}
                            <input type="number" name="system.atributos.{{key}}.value" value="{{atributo.value}}" min="8" max="{{../system.limites.atributoMax}}" data-dtype="Number"/>
                        {{else if (eq ../actor.type "npc")}}
                            <input type="number" name="system.atributos.{{key}}.value" value="{{atributo.value}}" min="8" max="{{../system.limites.atributoMax}}" data-dtype="Number"/>
                        {{else}}
                            <input type="number" name="system.atributos.{{key}}.value" value="{{atributo.value}}" data-dtype="Number"/>
                        {{/if}}
        </div>
    </div>
    {{/each}}
</div>