<h3 style="border-bottom: 2px solid #5d1b7e; margin-bottom: 10px; margin-top: 20px;">Condições</h3>

<div class="grid grid-2col" style="gap: 10px;">

    <div class="condition-group">
        <div class="condition-header physical">Físicas</div>
        <div class="condition-list grid grid-2col">
            <label class="checkbox"><input type="checkbox" name="system.condicoes.fisicas.condenado" {{checked system.condicoes.fisicas.condenado}}> Condenado</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.fisicas.engasgando" {{checked system.condicoes.fisicas.engasgando}}> Engasgando</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.fisicas.enjoado" {{checked system.condicoes.fisicas.enjoado}}> Enjoado</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.fisicas.envenenado" {{checked system.condicoes.fisicas.envenenado}}> Envenenado</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.fisicas.sangramento" {{checked system.condicoes.fisicas.sangramento}}> Sangramento</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.fisicas.sofrendo" {{checked system.condicoes.fisicas.sofrendo}}> Sofrendo</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.fisicas.paralisado" {{checked system.condicoes.fisicas.paralisado}}> Paralisado</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.fisicas.fragilizado" {{checked system.condicoes.fisicas.fragilizado}}> Fragilizado</label>
        </div>
    </div>

    <div class="condition-group">
        <div class="condition-header mental">Mentais</div>
        <div class="condition-list grid grid-2col">
            <label class="checkbox"><input type="checkbox" name="system.condicoes.mentais.abalado" {{checked system.condicoes.mentais.abalado}}> Abalado</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.mentais.amedrontado" {{checked system.condicoes.mentais.amedrontado}}> Amedrontado</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.mentais.aterrorizado" {{checked system.condicoes.mentais.aterrorizado}}> Aterrorizado</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.mentais.confuso" {{checked system.condicoes.mentais.confuso}}> Confuso</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.mentais.enfeiticado" {{checked system.condicoes.mentais.enfeiticado}}> Enfeitiçado</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.mentais.indefeso" {{checked system.condicoes.mentais.indefeso}}> Indefeso</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.mentais.exposto" {{checked system.condicoes.mentais.exposto}}> Exposto</label>
        </div>
    </div>

    <div class="condition-group">
        <div class="condition-header sensory">Sensoriais</div>
        <div class="condition-list grid grid-2col">
            <label class="checkbox"><input type="checkbox" name="system.condicoes.sensoriais.cego" {{checked system.condicoes.sensoriais.cego}}> Cego</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.sensoriais.desorientado" {{checked system.condicoes.sensoriais.desorientado}}> Desorientado</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.sensoriais.desprevenido" {{checked system.condicoes.sensoriais.desprevenido}}> Desprevenido</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.sensoriais.surdo" {{checked system.condicoes.sensoriais.surdo}}> Surdo</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.sensoriais.surpreso" {{checked system.condicoes.sensoriais.surpreso}}> Surpreso</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.sensoriais.inconsciente" {{checked system.condicoes.sensoriais.inconsciente}}> Inconsciente</label>
        </div>
    </div>

    <div class="condition-group">
        <div class="condition-header movement">Movimento</div>
        <div class="condition-list grid grid-2col">
            <label class="checkbox"><input type="checkbox" name="system.condicoes.movimento.agarrado" {{checked system.condicoes.movimento.agarrado}}> Agarrado</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.movimento.caido" {{checked system.condicoes.movimento.caido}}> Caído</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.movimento.enredado" {{checked system.condicoes.movimento.enredado}}> Enredado</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.movimento.imovel" {{checked system.condicoes.movimento.imovel}}> Imóvel</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.movimento.lento" {{checked system.condicoes.movimento.lento}}> Lento</label>
            <label class="checkbox"><input type="checkbox" name="system.condicoes.movimento.atordoado" {{checked system.condicoes.movimento.atordoado}}> Atordoado</label>
        </div>
    </div>

</div>